################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DuplicateFinder/v17
/DuplicateFinder/bin/Debug
/DuplicateFinder/obj/Debug
/DuplicateFinder/bin/Release
/DuplicateFinder/obj/Release
